[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
django-jazzmin = "*"
django-3-jet = "*"
google-api-python-client = "==1.4.1"
django-adminlte3 = "*"
django-matrix-field = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
